.env
node_modules/
__pycache__/
*.pyc
.DS_Store
anchor-program/target/deploy/*-keypair.json
anchor-program/.anchor/
venv/
node_modules/
__pycache__/
.env
anchor-program/target/deploy/
anchor-program/target/debug/
anchor-program/target/release/
anchor-program/target/.rustc_info.json
frontend/build/
backend/__pycache__/
*.env
backend/farmer_test.json
backend/package-lock.json
backend/thahar.json
